.tabs-container {
  margin: auto;
  padding-bottom: 20px;
  width: 90%;
}

.tabHeader {
  background: transparent;
  border: none;
  color: aqua;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 6px 12px;
}

.active-tab {
  border: 1px solid #fff !important;
  border-bottom: none !important;
}

.tabSection {
  border: 1px solid #fff;
  padding: 15px;
}

.hide-tab {
  display: none;
}

.show-tab {
  display: block;
}
