body {
  margin: 0;
  padding: 0;
}

/* landing page */

#landing-page {
  background-image: url(/images/bestr.jpeg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

h2 {
  color: aliceblue;
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.title {
  text-align: center;
  font-size: 2rem;
}

/* nav-slider */

.line {
  background: rgb(239, 239, 240);
  height: 5px;
  margin: 5px;
  width: 30px;
}

.line:nth-child(1) {
  margin-top: 0;
}

.nav-slider {
  cursor: pointer;
  padding: 15px;
}

/* nav-slider-section */

.nav-slider-section {
  background: rgb(73, 69, 69);
  height: 100%;
  left: 0;
  position: fixed;
  transform: translateX(-100%);
  top: 0;
  width: 100%;
}

.close-nav-slider {
  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 1.5rem;
  float: right;
  outline: none;
  padding: 15px;
}

.nav-links-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav-links-container li {
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.nav-links-container,
.nav-links-container ul {
  font-size: 2rem;
  list-style: none;
}

.nav-links-container a {
  color: white;
  text-decoration: none;
}

.openNav {
  animation: openNav 0.5s forwards;
}

.closeNav {
  animation: openNav 0.5s forwards;
}

@keyframes openNav {
  100% {
    transform: translateX(0%);
  }
}

@keyframes closeNav {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* menu */

#menu {
  background: rgb(22, 22, 24);
}

.menu-title {
  color: rgb(227, 220, 235);
  font-size: 2rem;
  padding: 25px;
  text-align: center;
}

p {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.menu-price {
  float: left;
}

/* restaurant-info */

#restaurant-info {
  background: rgb(31, 31, 32);
  padding: 20px;
}

.restaurant-info-title {
  color: #fff;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr;
}

.address-content,
.business-hours,
.contact-content {
  padding: 10px;
}

.address,
.hours {
  font-size: 1.3rem;
  text-align: center;
}

.contact {
  margin-bottom: 0;
  font-size: 1.3em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .info-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .address-content,
  .business-hours {
    border-right: 1px solid #fff;
    padding: 30px;
  }

  .contact-content {
    padding: 30px;
  }
}
